@font-face {
    font-family: 'Uxum Grotesque',Arial, sans-serif;
    src: url(resources/fonts/UxumGrotesqueGX.ttf);
}

:root {
    --white-100: #FFFFFF;
    --white-50: rgba(255, 255, 255, 0.5);
    --white-25: rgba(255, 255, 255, 0.25);
    --white-12-5: rgba(255, 255, 255, 0.125);
    --green-primary: #79B058;
    --grey-secondary: #1E1E1E;
    --yellow-links: #EFA83E;
    --dark-blue: #263238;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Uxum Grotesque',Arial, sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* NAVBAR */
nav {
    width: 100%;
    height: 120px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav #nav-logo {

    width: 204px;
    height: 76.77px;
}

nav #nav-sign-in-button {

    width: 152px;
    height: 64px;
    background: var(--green-primary);
    border: none;
    border-radius: 10px;

    font-family: 'Uxum Grotesque', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;

    color: var(--white-100);
    transition: background-color 300ms ease;
}

nav #nav-sign-in-button:hover {
    background-color: var(--grey-secondary);
}

/* LOGIN WINDOW */
.login-window {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 416px;
    height: 575px;

    background: var(--dark-blue);
    border: 1px solid var(--green-primary);
    border-radius: 12px;
}

.login-window .login-window-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 40px;
    gap: 5px;
}

.login-window h1 {
    /* Login */

    font-family: 'Uxum Grotesque', Arial, sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: 38.4px;

    color: var(--white-100);
}

.login-window h3 {
    /* Welcome back! */

    font-family: 'Uxum Grotesque',Arial, sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: 19.2px;

    color: var(--white-50);
}

.login-window .input-box {
    padding-top: 40px;
}

.login-window .input-box .input-box-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-window .input-box #email-id-field {
    /* Email Id Field */
    box-sizing: border-box;
    width: 336px;
    height: 48px;
    background: transparent;
    border: 1px solid var(--white-12-5);
    border-radius: 8px;
}

#email-id-field::placeholder {
    /* Email Address */
    font-family: 'Uxum Grotesque',Arial, sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: 16px;
    line-height: 16px;
    color: var(--white-50);
}

.login-window .input-box #password-field {
    /* Password Field */

    box-sizing: border-box;
    width: 336px;
    height: 48px;
    background: transparent;
    border: 1px solid var(--white-12-5);
    border-radius: 8px;
}

#password-field::placeholder {
    /* Password */

    font-family: 'Uxum Grotesque',Arial, sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: 16px;
    line-height: 16px;

    color: var(--white-50);
}

.login-window .input-box input[type=text] {
    /* input field text */
    padding-left: 17.6px;

    font-family: 'Uxum Grotesque',Arial, sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: 16px;

    color: var(--white-50);
}

.login-window .input-box input[type=password] {
    /* input field text */
    padding-left: 17.6px;

    font-family: 'Uxum Grotesque',Arial, sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: 16px;

    color: var(--white-50);
}

.login-window .reset-password-div {
    margin-top: 8px;
    width: 336px;
    display: flex;
    justify-content: space-between;
}

.login-window .reset-password-div #reset-line {
    /* Don’t you remember password? */


    font-family: 'Uxum Grotesque',Arial, sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: 16px;
    line-height: 16px;

    color: var(--white-50);
}

.login-window .reset-password-div #reset-line-button {
    /* Reset Here */

    font-family: 'Uxum Grotesque',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    text-decoration: none;

    color: var(--white-100);
}

.login-window .login-button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 8px;
}

.login-window .login-button-div #login-button {
    /* Frame 10 */

    width: 336px;
    height: 48px;
    left: 40px;
    top: 318.8px;

    background: var(--green-primary);
    border: none;
    border-radius: 8px;

    /* Start Learning Now */

    font-family: 'Uxum Grotesque',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: var(--grey-secondary);
}

.login-window .login-button-div #login-button:hover {
    color: var(--white-50);
    background-color: var(--grey-secondary);
    transition: 300ms;
}

.login-window .login-button-div p {

    font-family: 'Uxum Grotesque',Arial, sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: 16px;

    color: var(--white-50);
}


.login-window .login-button-div a {
    text-decoration: none;
    /* New here? Create your account now */

    font-family: 'Uxum Grotesque',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--yellow-links);
}

.login-window .divider-div {
    width: 336px;
    height: 12.8px;

    padding-top: 35px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-window .divider-div #divider-1 {

    width: 130px;
    border: 0.8px solid var(--white-12-5);

}

.login-window .divider-div #divider-2 {

    width: 130px;
    border: 0.8px solid var(--white-12-5);
}

.login-window .divider-div p {

    font-family: 'Uxum Grotesque',Arial, sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: 16px;

    color: var(--white-50);
}

.login-window .login-button-with-google-div {
    padding-top: 40px;
}

.login-window .login-button-with-google {
    /* Login - GOOGLE */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 16px;
    cursor: pointer;

    width: 336px;
    height: 48px;

    font-family: 'Uxum Grotesque',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: var(--white-25);

    background-color: transparent;

    border: 1px solid var(--white-25);
    border-radius: 8px;
}

.login-window #hover-state {
    fill-opacity: 0.25;
}

.login-window #hover-state:hover {
    fill-opacity: 1;
    color: var(--white-100);
    border-color: var(--white-100);
    transition: 300ms;
}




/* MEDIA QUERIES FOR RESPONSIVENESS */
/* navbar */
@media (width < 768px) {
    nav {
        height: 90px;
    }

    nav #nav-logo {
        width: 153px;
    }

    nav #nav-sign-in-button {
        width: 114px;
        height: 48px;
        font-size: 18px;
        border-radius: 7.5px;
    }
}

/* login window */

@media (width < 768px) {
    .login-window {
        width: 374.4px;
        height: 546px;
    }

    .login-window h1{
        font-size: 34.56px;
    }

    .login-window h3{
        font-size: 17.28px;
    }

    .login-window .login-window-title{
        padding-top: 36px;
    }

    .login-window .input-box {
        padding-top: 36px;
    }

    .login-window .input-box .input-box-form{
        gap: 18px;
        align-items: center;
    }

    .login-window .input-box #email-id-field{
        width: 302.4px;
    }

    .login-window .input-box #password-field{
        width: 302.4px;
    }

    .login-window .reset-password-div {
        width: 302.4px;
        margin-top: 8px;
    }
    
    .login-window .login-button-div{
        padding-top: 36px;
    }

    .login-window .login-button-div #login-button{
        width: 302.4px;
    }

    .login-window .divider-div{
        width: 302.4px;
        padding-top: 36px;
    }

    .login-window .login-button-with-google-div{
        padding-top: 36px;
    }

    .login-window .login-button-with-google{
        width: 302.4px;
    }
}