@font-face {
    font-family: 'Uxum-Grotesque';
    src: url(/resources/fonts/UxumGrotesqueGX.ttf);
    font-style: normal;
    font-weight: 400;
}

.navbar {
    /* Invisible Nav */
    position: absolute;
    width: 100%;
    height: 120px;
}

.navbar .navbar-logo img {
    /* Group */
    height: 5vw;
    position: absolute;
    left: 5.56%;
    right: 85.17%;
    top: 26.34%;
    bottom: 17.7%;
}



.login-window {
    box-sizing: border-box;

    z-index: 1;

    position: absolute;
    width: 520px;
    height: 712px;
    left: calc(50% - 520px/2);
    top: calc(50% - 712px/2);

    background: rgba(17, 25, 40, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.login-window h1 {
    /* Login */
    position: absolute;
    left: calc(50% - 111px/2 - 0.5px);
    top: 0px;

    font-family: 'Uxum Grotesque';
    font-style: normal;
    font-weight: 250;
    font-size: 48px;
    line-height: 49px;
    /* identical to box height */
    color: #FFFFFF;
}

.login-window h3 {
    /* Welcome back! */

    position: absolute;
    left: calc(50% - 160px/2 - 1px);
    top: 70px;

    font-family: 'Uxum Grotesque';
    font-style: normal;
    font-weight: 250;
    font-size: 24px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.5);
}

.login-window .input-box #email-id-field {
    /* Email Id Field */

    box-sizing: border-box;

    position: absolute;
    width: 420px;
    height: 60px;
    left: calc(50% - 420px/2);
    top: 179px;

    background: #111928;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 10px;
}

#email-id-field::placeholder {
    /* Email Address */

    position: absolute;
    width: 98px;
    height: 16px;
    left: 22px;
    top: calc(50% - 16px/2);

    font-family: 'Uxum Grotesque';
    font-style: normal;
    font-weight: 250;
    font-size: 16px;
    line-height: 16px;

    color: rgba(255, 255, 255, 0.5);
}

.login-window .input-box #password-field {
    /* Password Field */

    box-sizing: border-box;

    position: absolute;
    width: 420px;
    height: 60px;
    left: 50px;
    top: 264px;

    background: #111928;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 10px;
}

#password-field::placeholder {
    /* Password */

    position: absolute;
    width: 69px;
    height: 16px;
    left: 22px;
    top: calc(50% - 16px/2);

    font-family: 'Uxum Grotesque';
    font-style: normal;
    font-weight: 250;
    font-size: 16px;
    line-height: 16px;

    color: rgba(255, 255, 255, 0.5);
}

.login-window .input-box input[type=text] {
    /* input field text */

    position: absolute;
    width: 228px;
    height: 16px;
    left: 22px;
    top: calc(50% - 16px/2);

    padding-left: 22px;

    font-family: 'Uxum Grotesque';
    font-style: normal;
    font-weight: 250;
    font-size: 16px;
    line-height: 16px;

    color: rgba(255, 255, 255, 0.5);
}

/* .login-window .input-box .reset-password-div {
    top: 334px;
} */

.login-window .input-box .reset-password-div #reset-line {
    /* Don’t you remember password? */

    position: absolute;
    left: calc(50% - 221px/2 - 99.5px);
    top: 334px;

    font-family: 'Uxum Grotesque';
    font-style: normal;
    font-weight: 250;
    font-size: 16px;
    line-height: 16px;

    color: rgba(255, 255, 255, 0.5);
}

.login-window .input-box .reset-password-div #reset-line-button {
    /* Reset Here */

    position: absolute;
    left: calc(50% - 77px/2 + 170.5px);
    top: 350px;

    font-family: 'Uxum Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    text-decoration: none;

    color: #FFFFFF;
}

.login-window .login-button-div p {
    /* New here? Create your account now */

    position: absolute;
    left: calc(50% - 255px/2 - 0.5px);
    top: 469px;

    font-family: 'Uxum Grotesque';
    font-style: normal;
    font-weight: 250;
    font-size: 16px;
    line-height: 16px;

    color: rgba(255, 255, 255, 0.5);


}


.login-window .login-button-div a {
    text-decoration: none;
    /* New here? Create your account now */

    font-family: 'Uxum Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.login-window .divider-div {
    /* Divider */

    position: absolute;
    width: 420px;
    height: 16px;
    left: 50px;
    top: 527px;
}

.login-window .divider-div #divider-1 {
    /* Line 49 */

    width: 174px;
    float: left;

    border: 1px solid rgba(255, 255, 255, 0.125);

}

.login-window .divider-div #divider-2 {


    width: 174px;
    float: right;

    border: 1px solid rgba(255, 255, 255, 0.125);
}

.login-window .divider-div p {
    /* or */

    position: absolute;
    float: centre;
    left: 202px;
    top: -17px;

    font-family: 'Uxum Grotesque';
    font-style: normal;
    font-weight: 250;
    font-size: 16px;
    line-height: 16px;

    color: rgba(255, 255, 255, 0.5);
}

.login-window #login-button-with-google {
    /* Login - GOOGLE */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    cursor: pointer;

    position: absolute;
    width: 420px;
    height: 60px;
    left: calc(50% - 420px/2);
    top: 593px;

    font-family: 'Uxum Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.25);

    background-color: transparent;

    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;

}

.login-window #login-button-with-google:hover {
    background-color: #111928;
    transition: 300ms;
}