@font-face {
  font-family: uxumBold;
  src: url(resources/fonts/UxumGrotesque-Bold.ttf);
}
@font-face {
  font-family: uxumLight;
  src: url(resources/fonts/UxumGrotesque-Light.ttf);
}
@font-face {
  font-family: uxumMedium;
  src: url(resources/fonts/UxumGrotesque-Medium.ttf);
}
@font-face {
  font-family: uxumRegular;
  src: url(resources/fonts/UxumGrotesque-Regular.ttf);
}
@font-face {
  font-family: uxumUltra;
  src: url(resources/fonts/UxumGrotesque-Ultra.ttf);
}
@font-face {
  font-family: uxumUltraLight;
  src: url(resources/fonts/UxumGrotesque-UltraLight.ttf);
}
@font-face {
  font-family: uxum;
  src: url(resources/fonts/UxumGrotesqueGX.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: uxum;
}

html,
body {
  height: 100%;
  width: 100%;
}

a{
 text-decoration: none;
}
main {
  width: 100%;
  max-width: 1920px;
  position: relative;
  overflow: hidden;
}


#navbarMenuFirst {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  min-height: 50vh;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(246, 246, 246, 0.75);
  padding: 30px 30px 100px ;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  z-index: 99999;
}

.nav-top {
  width: 100%;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
}

.cross {
  width: 100%;
  justify-content: space-between;
}

.cross h2 {
  font-size: 35px;
  font-weight: 400;
}

.cross img {
  height: 5vw;
}

.links-navbarmenu {
  margin-top: 40px;
  align-items: start;
  flex-direction: column;
  /* gap: 40px; */
}

.links-navbarmenu li {
  list-style: none;
  font-size: 25px;
  font-weight: 200;
  justify-content: start;
}

#navbarMenuFirst>a{
  width: 100%;
}
#navbarMenuFirst .sign {
  margin-top: 100px;
  font-size: 20px;
  width: 100%;
}


@media screen and (max-width:426px) {
  #navbarMenuFirst {
    top: 0;
    left: 100%;
    height: 100vh;
  }.cross img {
    height: 9vw;
  }
  #navbarMenuFirst li{
    width: 100%;
    height: 50px;
  }

}




#home {
  width: 100%;
  height: 100vh;
  position: relative;
}


.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right, rgb(121, 176, 88, 0.25) 1px, transparent 1px), 
              linear-gradient(to bottom, rgb(121, 176, 88, 0.25) 1px, transparent 1px);
  background-size: 4em 4em;
  mask-image: radial-gradient(ellipse 60% 50% at 50% 0%, #000 70%, transparent 110%);
  z-index: -10;
}

.square {
  width: 4em;
  height: 4em;
  background-color: rgb(121, 176, 88, 0.25);
  opacity: 0;
  transition: opacity 1s;
}

.square.visible {
  opacity: 1;
}



nav {
  position: fixed;
  z-index: 999;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 120px;
  background: var(--white);
  justify-content: space-between;
  padding: 0 80px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.581);
}

nav .hamburger {
  display: none;
}

#leftNav img {
  height: 4.4vw;
}



#rightNav {
  gap: 50px;
}

#rightNav li {
  list-style: none;
  font-size: 24px;
  cursor: pointer;
  position: relative;
}

#rightNav li::before{
  position: absolute;
  content: '';
  width: 0%;
  height: 2px;
  background: rgb(170, 170, 170);
  top: 100%;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
#rightNav li:hover::before{
  width: 100%;
}


nav .sign {
  width: 152px;
  height: 50px;
}

nav .sign::before{
  display: none;
}

#content {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  padding: 0 7vw;
  position: relative;
  z-index: 3;
  margin-top: 8vw; 
}

#content>h1 {
  font-size: 88px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 250;
}

#content>h1 span {
  color: var(--green);
  font-weight: 400;
}

.watsapp {
  gap: 10px;
  width: 447px;
  height: 65.13px;
  cursor: pointer;
  
}

.watsapp h2{
  font-family: uxumRegular;
  font-weight: 300;
}


#about {
  background: var(--gray);
  width: 100%;
  padding: 100px 0;
  flex-direction: column;
}

#about>h1 {
  font-size: 64px;
  /* text-transform: capitalize; */
  font-weight: 250;
}

#about>h1 span {
  color: var(--green);
  font-weight: 400;
}

#ourCources {
  padding: 150px 80px;
}

#courcleft {
  width: 50%;
  gap: 50px;
  flex-direction: column;
}

#courcleft h1 {
  font-size: 64px;
  font-weight: 250;
}

#courcleft h1 span {
  color: var(--green);
  font-weight: 400;
}

#courcleft a {
  text-decoration: none;
}

#courcleft button {
  width: 374px;
  border: none;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 400;
}

#courcright {
  width: 50%;
  position: relative;
  gap: 15px;
  height: 100%;
}

#courcright h1 {
  font-size: 46px;
  text-transform: capitalize;
}

#courcright h1:nth-child(1) {
  color: var(--secondary);
}

#courcright h1:nth-child(2) {
  color: var(--green);
}

.logovideoanimated {
  height: 25vw;
}


#feadback {
  padding: 100px 80px;
  gap: 20px;
  overflow: hidden;
  background: var(--gray);
}

#feadback>h1 {
  text-align: center;
  font-size: 64px;
  text-transform: capitalize;
  font-weight: 300;
}

#feadback>h1 span {
  color: orange;
  font-weight: 400;
}



.fcards {
  margin-top: 50px;
  gap: 20px;
  animation: animFeadback 25s infinite linear;
}

.fcards:hover{
  animation-play-state: paused;
}

@keyframes animFeadback {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}


@media screen and (max-width:426px) {
  @keyframes animFeadback {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(-800%);
    }
  }
}

.fcard {
  min-width: 500px;
  min-height: 500px;
  border-radius: 25px;
  border: 5px solid var(--green);
  padding: 50px;
  position: relative;
  overflow: hidden;
  background: var(--white);
  font-weight: 250;
}

.fcard p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 2vw;
  font-weight: 250;
}

.person {
  gap: 20px;
  margin-top: 80px;
}

.perImg {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid var(--green);
}

.perImg img:nth-child(1) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.perImg img:nth-child(2) {
  position: absolute;
  top: -30%;
  right: -10%;
}

.perdetails h3{
  font-weight: 250;
}

.perdetails h4 {
  color: gray;
  font-weight: 250;
}

.redcircle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #EFA83E;
  bottom: -60%;
  right: -60%;
  transform: translate(-50%, -50%);
}

#ourResource {
  padding: 88px 30px;
  gap: 30px;
}

.resourceContent {
  width: 507px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;

}

.resourceContent h1 {
  font-size: 60px;
  font-weight: 300;
}

.resourceContent h1 span {
  color: var(--green);
  font-weight: 400;
}

.resourceContent button {
  width: 323px;
  border: none;
  font-size: 24px;
  text-transform: capitalize;
  margin-top: 50px;
  font-weight: 400;
}

#constulalcy {
  padding: 100px 80px;
  width: 100%;
}

.cons-card {
  border: 5px solid var(--green);
  border-radius: 20px;
  height: 596px;
}

.leftConstulalcy {
  padding: 50px;
  width: 60%;
}

.leftConstulalcy h1 {
  font-size: 60px;
  font-weight: 250;
}

.leftConstulalcy h1 span {
  color: var(--green);
  font-weight: 400;
}

.leftConstulalcy p {
  margin-top: 50px;
  width: 569px;
  font-size: 1.5vw;
  font-weight: 250;
}

.leftConstulalcy p span {
  padding-top: 50px;
  color: var(--green);
  margin-top: 50px;
  font-weight: 400;
}

.buttons {
  margin-top: 56px;
  gap: 25px;

}

.buttons button:nth-child(1) {
  width: 291px;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 400;

}

.buttons button:nth-child(2) {
  color: black;
  width: 247px;
  background: transparent;
  border: 3px solid black;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 400;
}

.rightConstulalcy {
  width: 40%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.con-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



#footer {
  width: 100%;
  height: 550px;
  padding: 50px 80px;
}

.footer-content {
  width: 100%;
  height: 400px;
  border-bottom: 2px solid var(--black);
  border-top: 2px solid var(--black);
  padding-top: 50px;
  justify-content: space-between;
  align-items: start;
}
.social-links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-links img{
  width: 40px;
  height: 40px;
}


.fsec1,
.fsec2,
.fsec3,
.fsec4 {
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 25px;
}
.fsec1>img{
  height: 70px;
}

.fsec1 h2,
.fsec2 h2,
.fsec3 h2,
.fsec4 h2 {
  text-transform: uppercase;
  font-weight: 550;
}

.fsec2 ol,
.fsec3 ol,
.fsec4 ol {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 25px;
}

.fsec2 li,
.fsec3 li,
.fsec4 li {
  list-style: none;
  text-transform: capitalize;
  font-family: 250;
  position: relative;
  cursor: pointer;
}

.fsec4 .f-e{
  text-transform: lowercase;
}

.fsec2 li::after{
  top: 100%;
  left: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  border-radius: 10px;
  background: gray;
  content: '';
  transition: all 0.3s ease-in-out;
}
.fsec3 li::after{
  top: 100%;
  left: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  border-radius: 10px;
  background: gray;
  content: '';
  transition: all 0.3s ease-in-out;
}
.f-e{
  text-transform: lowercase;
}
.fsec4 li::after{
  top: 100%;
  left: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  border-radius: 10px;
  background: gray;
  content: '';
  transition: all 0.3s ease-in-out;
}


.fsec2 li:hover::after{
  width: 100%;
}
.fsec3 li:hover::after{
  width: 100%;
}
.fsec4 li:hover::after{
  width: 100%;
}

#footer h3 {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  color: gray;
}


/* responsive code */

@media screen and (max-width:1024px) {
  #content>h1 {
    font-size: 7vw;
  }

  #about h1 {
    font-size: 5vw;
  }

  #about img {
    height: 58vw;
  }

  #courcleft h1 {
    font-size: 5vw;
  }

  #ourResource img {
    height: 40vw;
  }

  #ourResource h1 {
    font-size: 4vw;
  }

  .leftConstulalcy h1 {
    font-size: 4vw;
  }

  .leftConstulalcy p {
    width: 400px;
    
  }

  .buttons {
    flex-direction: column;
  }

  .fsec1 h2,
  .fsec2 h2,
  .fsec3 h2,
  .fsec4 h2 {
    font-size: 1.2vw;
  }

  .fsec2 ol,
  .fsec3 ol,
  .fsec4 ol {
    gap: 10px;
  }

  .fsec1,
  .fsec2,
  .fsec3,
  .fsec4 {
    gap: 10px;
  }
}

@media screen and (max-width:768px) {
  nav .hamburger {
    display: block;
  }


  #leftNav img {
    height: 8vw;
  }

  nav .hamburger img {
    height: 40px;
    object-fit: cover;
  }

  nav #rightNav {
    display: none;
  }

  #ourCources {
    /* height: 100vh; */
    flex-direction: column;
    padding: 100px 15px;
    gap: 50px;
  }

  #courcleft {
    height: 374px;
    width: 100%;
  }

  #courcleft h1 {
    font-size: 64px;
  }

  #courcright {
    width: 100%;
    height: 374px;
  }

  .ourRight1 {
    top: 11%;
    left: 40%;
  }

  .ourRight2 {
    top: 21%;
    left: 10%;
  }

  .ourRight3 {
    top: 18%;
    left: 60%;
  }

  .ourRight4 {
    top: 33%;
    left: 90%;
  }

  .ourRight5 {
    top: 85%;
    left: 40%;
  }

  .ourRight6 {
    top: 78%;
    left: 70%;
  }

  .ourRight7 {
    top: 70%;
    left: 20%;
  }

  #feadback h1 {
    font-size: 43px;
  }

  .fcard p {
    line-height: 4vw;
  }

  #ourResource {
    flex-direction: column;
  }

  #ourResource img {
    height: 58vw;
  }

  #ourResource h1 {
    font-size: 8vw;
  }

  #courcleft .button{
    font-size: 21px;
  }

  .logovideoanimated {
    height: 50vw;
  }

  .cons-card {
    height: 1080px;
    flex-direction: column;
  }

  .leftConstulalcy {
    width: 100%;
    padding: 30px;
  }

  .leftConstulalcy h1 {
    font-size: 6vw;
  }

  .rightConstulalcy {
    width: 100%;
  }

  .leftConstulalcy p {
    font-size: 20px;
    width: 100%;
  }

  .buttons {
    flex-direction: row;
  }

  #footer {
    height: 1082px;
  }

  .footer-content {
    height: 938px;
    flex-direction: column;
    gap: 50px;
    justify-content: start;
  }

  .fsec1 h2,
  .fsec2 h2,
  .fsec3 h2,
  .fsec4 h2 {
    font-size: 3.2vw;
  }

  .fsec2 ol,
  .fsec3 ol,
  .fsec4 ol {
    margin-top: 10px;
    gap: 25px;
  }

  .fsec2 li,
  .fsec3 li,
  .fsec4 li {
    font-size: 20px;
    font-weight: lighter;
  }

}

@media screen and (max-width:426px) {
  nav {
    padding: 10px;
  }

  #leftNav {
    padding: 12px;
  }

  #leftNav img {

    height: 12vw;
  }

  .logo-text h1 {
    font-size: 6vw;
    line-height: 6vw;
  }

  nav .hamburger {
    padding-right: 30px;
  }

  #content>h1 {
    font-size: 51px;
    font-weight: 400;
  }

  #content {
    padding: 50px;
    margin-top: 24vw;
  }

  .watsapp h2 {
    font-size: 17px;
  }

  .watsapp {
    width: 350px;
  }

  #courcleft h1 {
    font-size: 42px;
  }

  #courcleft button {
    width: 317px;
  }

  #courcright .ourRightImg {
    height: 9vw;
  }

  .logovideoanimated {
    height: 70vw;
  }

  #feadback {
    padding: 100px 20px;
  }

  #feadback>h1 {
    font-size: 7vw;
  }

  .fcard {
    min-width: 350px;
    min-height: 375px;
    padding: 37px;
  }

  .fcard p {
    font-size: 15px;
    line-height: 5vw;
  }

  .perImg {
    width: 38px;
    height: 38px;
  }

  .perImg img:nth-child(2) {
    position: absolute;
    top: -25%;
    right: -23%;
    height: 4vw;
  }

  .redcircle {
    bottom: -89%;
    right: -96%;
  }

  .person {
    gap: 15px;
  }

  .resourceContent h1 {
    padding: 30px;
  }

  .resourceContent {
    width: 362px;
  }

  .resourceContent button {
    width: 100%;
    margin-top: 14px;
    height: 55px;
  }

  #constulalcy {
    padding: 15px;
  }
  .buttons button:nth-child(2) {
    width: 291px;
  }

  .leftConstulalcy h1 {
    font-size: 8vw;
  }

  .leftConstulalcy p {
    font-size: 18px;
  }

  .buttons {
    flex-direction: column;
  }

  .con-img {
    height: 74%;
    transform: translate(-50%, -50%);
  }

  .fsec2 li,
  .fsec3 li,
  .fsec4 li {
    font-size: 17px;
  }

  .fsec2 ol,
  .fsec3 ol,
  .fsec4 ol {
    gap: 7px;
  }

  .footer-content {
    height: 765px;
  }

  #footer {
    height: 940px;
    padding: 15px;
  }
  .social-links img{
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width:376px) {
  #content>h1 {
    font-size: 48px;
    font-weight: 400;
  }

  .watsapp {
    width: 310px;
  }

  .watsapp h2 {
    font-size: 16px;
    font-weight: 700;
  }
  .con-img{
    height: 63%;
  }
 

  #ourCources {
    padding: 100px 15px;
  }

  #constulalcy {
    padding: 50px 20px;
  }

  .fcard {
    padding: 22px;
    min-width: 335px;
  }

  #footer {
    padding: 50px 30px;
  }

  #footer h3{
    font-size: 15px;
    font-weight: 300;
  }

}